AskBargainsServices.Client/Service References/DataFeedService/DataFeedService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.AskBargains.com/2012/ServiceModel" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataFeedService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.AskBargains.com/2012/ServiceModel" location="http://localhost:5147/DataFeedService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5147/DataFeedService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5147/DataFeedService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5147/DataFeedService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5147/DataFeedService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataFeedService_GetAllFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFileList" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetAllFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByFileNameList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByFileNameList" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByFileNameList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByFileNameListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByFileName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByFileName" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByFileName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByFileNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByDefault_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByDefault" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByDefault_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByDateString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByDateString" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByDateString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByDateStringResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByDate" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByNumberOfItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByNumberOfItems" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByNumberOfItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByNumberOfItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetAllDataInfoOrderByDesc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataInfoOrderByDesc" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetAllDataInfoOrderByDesc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataInfoOrderByDescResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByItemIDList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByItemIDList" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByItemIDList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByItemIDListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByCompanyID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByCompanyID" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByCompanyID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByCompanyIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByCompanyName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByCompanyName" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByCompanyName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByCompanyNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoByItemID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoByItemID" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoByItemID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoByItemIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByBrand" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByCatagory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByCatagory" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetDataInfoListByCatagory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInfoListByCatagoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetAllCompanyInfoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanyInfoList" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetAllCompanyInfoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanyInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetCompanyInfoByCompanyID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyInfoByCompanyID" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetCompanyInfoByCompanyID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyInfoByCompanyIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetCompanyInfoByItemID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyInfoByItemID" />
  </wsdl:message>
  <wsdl:message name="IDataFeedService_GetCompanyInfoByItemID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyInfoByItemIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataFeedService">
    <wsdl:operation name="GetAllFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetAllFileList" message="tns:IDataFeedService_GetAllFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetAllFileListResponse" message="tns:IDataFeedService_GetAllFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByFileNameList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByFileNameList" message="tns:IDataFeedService_GetDataInfoListByFileNameList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByFileNameListResponse" message="tns:IDataFeedService_GetDataInfoListByFileNameList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByFileName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByFileName" message="tns:IDataFeedService_GetDataInfoListByFileName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByFileNameResponse" message="tns:IDataFeedService_GetDataInfoListByFileName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByDefault">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByDefault" message="tns:IDataFeedService_GetDataInfoListByDefault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByDefaultResponse" message="tns:IDataFeedService_GetDataInfoListByDefault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByDateString">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByDateString" message="tns:IDataFeedService_GetDataInfoListByDateString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByDateStringResponse" message="tns:IDataFeedService_GetDataInfoListByDateString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByDate" message="tns:IDataFeedService_GetDataInfoListByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByDateResponse" message="tns:IDataFeedService_GetDataInfoListByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByNumberOfItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByNumberOfItems" message="tns:IDataFeedService_GetDataInfoListByNumberOfItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByNumberOfItemsResponse" message="tns:IDataFeedService_GetDataInfoListByNumberOfItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDataInfoOrderByDesc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetAllDataInfoOrderByDesc" message="tns:IDataFeedService_GetAllDataInfoOrderByDesc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetAllDataInfoOrderByDescResponse" message="tns:IDataFeedService_GetAllDataInfoOrderByDesc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByItemIDList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByItemIDList" message="tns:IDataFeedService_GetDataInfoListByItemIDList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByItemIDListResponse" message="tns:IDataFeedService_GetDataInfoListByItemIDList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByCompanyID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByCompanyID" message="tns:IDataFeedService_GetDataInfoListByCompanyID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByCompanyIDResponse" message="tns:IDataFeedService_GetDataInfoListByCompanyID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByCompanyName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByCompanyName" message="tns:IDataFeedService_GetDataInfoListByCompanyName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByCompanyNameResponse" message="tns:IDataFeedService_GetDataInfoListByCompanyName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoByItemID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoByItemID" message="tns:IDataFeedService_GetDataInfoByItemID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoByItemIDResponse" message="tns:IDataFeedService_GetDataInfoByItemID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByBrand" message="tns:IDataFeedService_GetDataInfoListByBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByBrandResponse" message="tns:IDataFeedService_GetDataInfoListByBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataInfoListByCatagory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByCatagory" message="tns:IDataFeedService_GetDataInfoListByCatagory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetDataInfoListByCatagoryResponse" message="tns:IDataFeedService_GetDataInfoListByCatagory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanyInfoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetAllCompanyInfoList" message="tns:IDataFeedService_GetAllCompanyInfoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetAllCompanyInfoListResponse" message="tns:IDataFeedService_GetAllCompanyInfoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyInfoByCompanyID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetCompanyInfoByCompanyID" message="tns:IDataFeedService_GetCompanyInfoByCompanyID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetCompanyInfoByCompanyIDResponse" message="tns:IDataFeedService_GetCompanyInfoByCompanyID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyInfoByItemID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataFeedService/GetCompanyInfoByItemID" message="tns:IDataFeedService_GetCompanyInfoByItemID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataFeedService/GetCompanyInfoByItemIDResponse" message="tns:IDataFeedService_GetCompanyInfoByItemID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="DataFeedService">
    <wsdl:port name="BasicHttpBinding_IDataFeedService" binding="i0:BasicHttpBinding_IDataFeedService">
      <soap:address location="http://localhost:5147/DataFeedService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>