AskBargainsServices.Client/Service References/DataFeedService/DataFeedService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5147/DataFeedService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5147/DataFeedService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" />
  <xs:element name="GetAllFileList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllFileListResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByFileNameList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileNameList" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByFileNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByFileNameListResult" nillable="true" type="q3:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByFileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByFileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByFileNameResult" nillable="true" type="q4:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByDefault">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByDefaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByDefaultResult" nillable="true" type="q5:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByDateString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByDateStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByDateStringResult" nillable="true" type="q6:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByDateResult" nillable="true" type="q7:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByNumberOfItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberOfItems" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByNumberOfItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByNumberOfItemsResult" nillable="true" type="q8:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataInfoOrderByDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataInfoOrderByDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetAllDataInfoOrderByDescResult" nillable="true" type="q9:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByItemIDList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIDList" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByItemIDListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByItemIDListResult" nillable="true" type="q11:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByCompanyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByCompanyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByCompanyIDResult" nillable="true" type="q12:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByCompanyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByCompanyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByCompanyNameResult" nillable="true" type="q13:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoByItemID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoByItemIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoByItemIDResult" nillable="true" type="q14:DataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brandName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByBrandResult" nillable="true" type="q15:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByCatagory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="catagoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataInfoListByCatagoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetDataInfoListByCatagoryResult" nillable="true" type="q16:ArrayOfDataInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyInfoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetAllCompanyInfoListResult" nillable="true" type="q17:ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyInfoByCompanyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyInfoByCompanyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetCompanyInfoByCompanyIDResult" nillable="true" type="q18:CompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyInfoByItemID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyInfoByItemIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AskBargainsServices.DataContracts" minOccurs="0" name="GetCompanyInfoByItemIDResult" nillable="true" type="q19:CompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>