AskBargainsServices.Client/Service References/DataService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AskBargainsServices/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AskBargains.DataEF.Models" />
  <xs:element name="GetAllDataItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AskBargains.DataEF.Models" minOccurs="0" name="GetAllDataItemsResult" nillable="true" type="q1:ArrayOfDataItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataItmeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AskBargains.DataEF.Models" minOccurs="0" name="GetDataItemByIdResult" nillable="true" type="q2:DataItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>