AskBargainsServices.Client/Service References/DataService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AskBargains.DataEF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AskBargains.DataEF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataItem" nillable="true" type="tns:DataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataItem" nillable="true" type="tns:ArrayOfDataItem" />
  <xs:complexType name="DataItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CouponCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataItemId" type="xs:long" />
      <xs:element minOccurs="0" name="ExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ForwardLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaKeyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Others" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Promotion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Rebate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Save" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shipping" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowCoupons" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Today" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataItem" nillable="true" type="tns:DataItem" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CommentId" type="xs:int" />
      <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Commentator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataItemId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
</xs:schema>